[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/bricklou/imgui.git
	branch = docking
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/vkbootstrap"]
	path = third_party/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "third_party/Vulkan-Hpp"]
	path = third_party/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://github.com/lz4/lz4
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "third_party/openal-soft"]
	path = third_party/openal-soft
	url = https://github.com/kcat/openal-soft.git
